body {
	font: 16px Calibri, "Gill Sans", "Trebuchet MS", sans-serif;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

#main {
    align: center;
    margin-left: auto;
    margin-right: auto;

		width: 1000px;
    /* border-left: 1px solid grey;
    border-right: 1px solid grey; */
    padding: 10px;
}

/*.html-widget {
	margin-left: -40px;
}*/

div.main-container {
	width: 1100px;
	padding:0px;
	margin-left: -20px;
}

div.header {
	padding: 40px 0px 10px;
	text-align:right;
	height: 80px;
}

div.header > a.span {
	padding: 30px 0px 10px 40px;
	color: green;
	text-decoration: none;
	float: right
}

img.logo {
	float: left;
}

img {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;

}

.hovertext > path {
	fill: black;
}

div.inner {
  align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*.iframe-holder {
    width:106%;
    margin-left: -4%;
}*/

iframe {
    width:100%;
    height:100%;
    background-color: none;
    border: none;
}

a {
	text-decoration: none;
	font-weight: bolder
}

.svg-container {
  border: "1px solid black";
}

hr.padded {
	margin: 40px;
}

img {
	margin:20px auto;
}

div.footer {
	color: #545454;
}
